@model BusinessGame.ViewModels.BuildProduct.UserBuildingProduct
<br />
<div >
    <div style="float:left" id="dvSource">
        @foreach (var m in @Model.UBuilding)
        {
            <div style="z-index:1; color:white; padding:10px; display:block; background-color:brown; text-align:center; padding-top:25px; width:64px; height:64px; border:1px solid black">
            @foreach (var a in @m.BuildingName)
            {
               // @a[0]
            }
               
            </div>
        }
    </div>
    <div style="float:left">
        <div id="map" style="z-index: 1000">
        @for (int i = 0; i < 10; i++)
        {
            <div>
                @for (int j = 0; j < 10; j++)
                {
                    if (j == 4 && i == 3 || i == 2 && j == 7)
                    {
                        <div id="@j-@i" data-free="1" style="float:left; background-image:url(http://img06.deviantart.net/fd7d/i/2005/269/e/9/a_grass_tile_by_viperxmns.jpg); background-color:green; width:64px; height:64px;"  class="target free"></div>
                    }
                    else
                    {
                        <div id="@j-@i" data-free="0" style="float:left; background-image:url(http://i.imgur.com/CdWk0P6.png); background-color:gray; width:64px; height:64px;" class="target"></div>
                    }
                }
            </div>
            <br style="clear:both" />
        }
    </div>
    </div>
</div>
<br style="clear:both" />
