@model BusinessGame.ViewModels.BuildProduct.UserBuildingProduct


<table>
    @for (int i = 0; i < Model.UMap.Height; i++ )
    {
        <tr>
            @for (int j = 0; j < Model.UMap.Height; j++)
            {
                foreach (var b in Model.UBuilding)
                {
                    if (i >= b.x_left && i < b.x_right && j >= b.y_top && j < b.y_bottom)
                    {
                        <td id="@i-@j" style="height: 100px; width:100px; background-color:brown;">
                            @b.BuildingName
                        </td>
                    }
                    else
                    {
                        <td id="@i-@j" style="height: 100px; width:100px; background-color:green;">
                            *
                        </td>
                    }
                }
            }
        </tr>
    }
</table>

