<script src="~/Scripts/ValueProductUpdate.js"></script>
@model BusinessGame.ViewModels.BuildProduct.UserBuildingProduct
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <p><h2>Panel Użytkownika <b>@User.Identity.Name</b></h2></p>

        <h3>Moje surowce:</h3>
        <div id="products">
            <div id="product_1"></div>
            <div id="product_2"></div>
        </div>

        <h3>Moje budynki: </h3>
            foreach (var itemBuild in Model.UBuilding)
            {
                <ul>
                    <li>@itemBuild.BuildingName</li>
                </ul>
            }

    }
</div>