@model BusinessGame.ViewModels.BuildProduct.UserBuildingProduct
@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="ProductController">
    @if (User.Identity.IsAuthenticated)
    {
        <p><h2>Panel Użytkownika <b>@User.Identity.Name</b></h2></p>

        <h3>Moje surowce:</h3>
        <script>
            setInterval(function () {
                $.ajax({
                    url: '/Home/GetProduct',
                    type: 'Post',
                    dataType: 'Json',
                    contentType: 'application/json; charset=utf-8',
                    error: function () {
                        alert('Error');
                    },
                    success: function () {
                        alert('success');
                    },
                    async: true,
                    processData: false
                });
            }, 10000);
        </script>



        <h3>Moje budynki: </h3>
        foreach (var itemBuild in Model.UBuilding)
        {
            <ul>
                <li>@itemBuild.Buildings.Name</li>
            </ul>
        }

    }
</div>